@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.medsos {
    padding: 5px 0;
    background-color: #00a13a;
}

.boot_menu {
    padding: 18px 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-text {
    margin-left: 20px;
}

.navbar-logo-text h1 {
    color: black;
    font-weight: 700;
}

.navbar-logo-text p {
    margin-top: -10px;
    font-size: 11px;
}

.navbar-link-parent {
    display: flex;
    width: 100%;
    list-style: none;
}

.navbar-item {
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.navbar-item:hover {
    text-decoration: underline;
}

.item-rounded {
    border-radius: 20px;
    background-color: green;
    padding: 5px 18px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.hamburger {
    color: green;
}
